<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
</head>
<body>
    <form action="/addBook" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label>Title</label></td>
                <td><input type="text" id="title" name="title" required/></td>
            </tr>
            <tr>
                <td><label>Authors (comma-separated)</label></td>
                <td><input type="text" id="authors" name="authors" /></td>
            </tr>
             <tr>
                <td><label>Year</label></td>
                <td><input type="number" min="1900" max="4000" id="year" name="year" /></td>
            </tr>
            <tr>
                <td><label>Tags (comma-separated)</label></td>
                <td><input type="text" id="tags" name="tags" /></td>
            </tr>
            <tr>
                <td><label>Files</label></td>
                <td><input type="file" name="files" id="files" multiple="multiple"></td>
            </tr>
        </table>
        <input type="submit" value="Add Book" />
    </form>
</body>
</html>
