<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    <a href="../">Home</a>
     <table>
            <tr>
                <td><label>Title</label></td>
                <td>{{ .Title }}</td>
            </tr>
            <tr>
                <td><label>Authors</label></td>
                <td>
                    <ul>
                    {{ range $author := .Authors }}
                        <li>{{$author}}</li>
                    {{ end }}    
                    </ul>
                </td>
            </tr>
            <tr>
                <td><label>Tags</label></td>
                <td>
                    <ul>
                        {{ range $tag := .Tags }}
                        <span class="book_tag">{{ $tag }}</span>
                        {{ end }}
                    </ul>
                </td>
            </tr>
             <tr>
                <td><label>Year</label></td>
                <td>{{ .Year }}</td>
            </tr>
            <tr>
                <td><label>Files</label></td>
                <td><ul>
                    {{ range $name, $path := .Files }}
                        <li><a href="/download_book/{{ $path }}">{{ $name }}</a>
                            [<a href="/delete_file?bookid={{ $.ID }}&filename={{ $name }}"
                                onclick="return confirm('Delete file {{ $name }}?');">x</a>]</li>
                    {{ end }}
                    </ul>
                </td>
            </tr>
        </table>
</body>
</html>
