<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    <a href="../">Home</a>
     <table>
            <tr>
                <td><label>Title</label></td>
                <td>{{ .Title }}</td>
            </tr>
            <tr>
                <td><label>Authors (comma-separated)</label></td>
                <td>{{ .Authors }}</td>
            </tr>
             <tr>
                <td><label>Year</label></td>
                <td>{{ .Year }}</td>
            </tr>
            <tr>
                <td><label>Files</label></td>
                <td><ul>
                    {{ range $name, $path := .Files }}
                        <li><a href="/download_book/{{ $path }}">{{ $name }}</a>[<a href="/delete_file?bookid={{ $.ID }}&name={{ $name }}">x</a>]</li>
                    {{ end }}
                    </ul>
                </td>
            </tr>
        </table>
</body>
</html>